{% for item in data %}
  {% assign name = item.name %}
  {% assign type = item.type %}
  {% assign description = item.description %}
  {% assign input_fields = item.input_fields %}
  {% assign return_fields = item.return_fields %}

  <h2>{{ item.name }}</h2>

  {% if type %}
    <p>
      Type: <a href="./objects#{{ type.name | downcase }}">{{ type.name }}</a>
    </p>
  {% endif %}

  <h4>Arguments</h4>
  <table class="table table-sm">
    <thead>
      <tr>
        <th class="w-25">Name</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      {% for i in input_fields %}
        <tr>
          <td>{{ i.name }}</td>
          <td>{% if i.type %}{{ i.type.name }}{% endif %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h4>Returns</h4>
  <table class="table table-sm">
    <thead>
      <tr>
        <th class="w-25">Name</th>
        <th>Type</th>
        <th class="w-50">Description</th>
      </tr>
    </thead>
    <tbody>
      {% for r in return_fields %}
        <tr>
          <td>{{ r.name }}</td>
          <td>{% if r.type %}{{ r.type.name }}{% endif %}</td>
          <td class="text-capitalize">
            {% if r.description %}{{ r.description }}{% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}