{% for item in data.tags %}
  <h2>{{ item.name }}</h2>

  {%- assign description = item.description -%}
  {%- assign params = item.params -%}
  {%- assign examples = item.examples -%}

  {% if description %}
    <p>{{ description | strip_html }}</p>
  {% endif %}


  {% if params.size > 0 %}
    <h4>Params</h4>
    <ul>
    {% for p in params %}
      <li>
        {{ p.name | escape }} -
        {% for t in p.types %}
          {{ t | escape }}
        {% endfor %}
        {% if p.description.size > 1 %} - {{ p.description | escape | nl2br }}{% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if examples.size > 0 %}
    <h4>Examples</h4>
    {% for e in examples %}
      <pre><code class="language-liquid">
        {{ e }}
      </code></pre>
    {% endfor %}
  {% endif %}

{% endfor %}
