{%- for item in data.filters -%}
  {%- assign aliases = item.aliases -%}
  {%- assign description = item.description -%}
  {%- assign returns = item.returns -%}
  {%- assign params = item.params -%}
  {%- assign examples = item.examples -%}

  <h2>
    {{ item.name }}
    {%- if aliases.size > 0 -%}
      <small> (aliases:
        {% for a in aliases -%}
          <a href="#{{- a -}}">{{- a -}}</a>
        {%- endfor -%})
      </small>
    {%- endif -%}
  </h2>

  {% if description.size > 0 %}
    <p>{{ description }}</p>
  {% endif %}

  {% if returns.size > 0 %}
    <h4 class="break-all">
      Returns:
      {% for r in returns %}
        <strong>
          {% for t in r.types %}
            {{ t | escape }}{% unless forloop.last %},{% endunless %}
          {% endfor %}
        </strong>

        {% if r.description.size > 1 %}
        - {{ r.description }}
        {% endif %}
      {% endfor %}
    </h4>
  {% endif %}

  {% if params.size > 0 %}
    <h4>Params</h4>
    <ul>
      {% for p in params %}
        <li>
          {{ p.name }}

          ({%- for t in p.types -%}
              {{- t | escape -}}
            {%- endfor -%})
          {% if p.description.size > 1 %} - {{ p.description }}{% endif %}
          {% if p.default %} - default: {{ p.default }}{% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if examples.size > 0 %}
    <h4>Examples</h4>
    {% for e in examples %}
      <pre><code class="language-liquid">
        {{ e | escape }}
      </code></pre>
    {% endfor %}
  {% endif %}

{%- endfor -%}