---
converter: markdown
metadata:
  title: Features
  description: The platformOS Component Library has great design features, which makes working with the Library efficient for UX and UI designers.
---

The platformOS Component Library has great **design features**, which makes working with the Library efficient for UX and UI designers. It is dynamic, flexible, mobile-friendly, accessible, and the components have several swappable variants. This topic describes these features in more detail, and explains the features of the Figma tool that we used during the creation process.

## Dynamic, flexible

_Related Figma feature: Auto Layout_

We built flexible components, dynamic layouts using Auto layout. In the platformOS Component Library every component has been built using this feature, allowing us to structure components in a way that they can automatically scale to **adapt to a new size**.


<p align="center"><img loading="lazy" src="{{ 'images/kits/ui/features/flexible.gif' | asset_url }}" alt="Dynamic layout created with Auto layout" /></p>
<p align="center"><i>Image: Dynamic layout created with Auto layout</i></p>

Components **adapt to the amount of content** as well. For example, a Button component stretches horizontally to make enough room for the content.

<p align="center"><img loading="lazy" src="{{ 'images/kits/ui/features/button.gif' | asset_url }}" alt="Button component automatically adapts to the new content" /></p>
<p align="center"><i>Image: Button component automatically adapts to the new content</i></p>


Auto layout also helps you to keep **consistent spacing** inside elements, between the components, and **distribute and align** them properly.


<p align="center"><img loading="lazy" src="{{ 'images/kits/ui/features/spacing.gif' | asset_url }}" alt="Set spacing between components using Auto layout" /></p>
<p align="center"><i>Image: Set spacing between components using Auto layout</i></p>


## Mobile friendly

All components are mobile-friendly in the Library and have a **tappable size**. So it is handy to use them on desktop (clicking on them with the mouse), or on mobile devices, tablets by tapping them as well. This means that you don’t necessarily need to create separate interface designs for these devices, the UI built from the components will be usable on all of them.

We extend the Library from time to time with elements that have a separate desktop and mobile version, providing assets for those who prefer a different look on the given devices.

<p align="center"><img loading="lazy" src="{{ 'images/kits/ui/features/mobile.png' | asset_url }}" alt="Mobile friendly UI components" /></p>
<p align="center"><i>Image: Mobile friendly UI components</i></p>


We keep in mind when we create components, groups, or sections that they should be **responsive** and be able to adapt to the screen width of the given device.
However a 4-column layout might change to 1-column on mobile as the components drop under each other due to the lack of vertical space, the components can adjust easily to the new screen-width.


<p align="center"><img loading="lazy" src="{{ 'images/kits/ui/features/mobile-layout.gif' | asset_url }}" alt="Look of a Card component group on a small mobile screen" /></p>
<p align="center"><i>Image: Look of a Card component group on a small mobile screen</i></p>


## Swappable elements

_Related Figma feature: Variants_

Components are swappable using the Variants Figma feature. It takes just one click to replace an element in the Library with a different variant of it: e.g. buttons or form fields have normal, hover, disabled states, different types and sizes.

<p align="center"><img loading="lazy" src="{{ 'images/kits/ui/features/swap.gif' | asset_url }}" alt="Sample for swapping a Button component to another variant" /></p>
<p align="center"><i>Image: Sample for swapping a Button component to another variant</i></p>

Figma marks the variants of a component with a purple dashed rectangle. With a deeper experience in Figma, you can modify them as desired, and extend the list with new variants if needed.

<p align="center"><img loading="lazy" src="{{ 'images/kits/ui/features/variants.png' | asset_url }}" alt="Variants of a text input field and a textarea" /></p>
<p align="center"><i>Image: Variants of a text input field and a textarea</i></p>

## Accessible

_Figma plugin that provides it: [Able](https://www.figma.com/community/plugin/734693888346260052/Able-%E2%80%93-Friction-free-accessibility)_

We make sure that everything in our Component Library adheres to accessibility standards using the Able Figma plugin.

<p align="center"><img loading="lazy" src="{{ 'images/kits/ui/features/accessible.png' | asset_url }}" alt="Using Able, the accessibility checker plugin" /></p>
<p align="center"><i>Image: Using Able, the accessibility checker plugin</i></p>

To enhance the usability for all users, including those with visual impairments our components have:

* A thoughtfully selected color scheme. High-contrast colors for fonts, graphical elements, and backgrounds.
* Correct contrast-ratio between foreground elements and background, including the inverted elements, where the background has a darker color and the foreground is lighter.
* Well-chosen interaction color, that is also prominent and aesthetic despite the required high-contrast.
* Proper font sizes.
* Text styles with several different font weights and sizes, instead of using lighter and darker gray shades to provide a visual hierarchy. E.g. metadata, less important texts use a smaller, lighter font (instead of a small, light gray color).

## Resources

* [Figma Tool](https://www.figma.com/downloads/)
* [Able accessibility plugin](https://www.figma.com/community/plugin/734693888346260052/Able-%E2%80%93-Friction-free-accessibility)
* [Implemented Component Library](https://golden-styleguide.staging.oregon.platform-os.com/styleguide/) - in development

{% include 'kits/designkit_dl' %}