{%- if context.location.href != "/" -%}
  {%- graphql g = "get_page_contributors", slug: context.location.href -%}
  {%- assign page_contributors = g.models.results.last -%}
  {%- assign key = context.page.slug -%}

  {% comment %}
    For every page we do not want to call Github to fetch contributores
    more often than once a day
  {% endcomment %}

  {%- cache key, expire: 86400 -%}
    {%- if page_contributors.id != blank -%}
      {%- graphql res = "fetch_page_contributors_from_github", id: page_contributors.id -%}
      {%- assign page_contributors = res.customization_update -%}
    {%- else -%}
      {%- capture "page_path" -%}app/views/pages{{ context.location.href }}.liquid{%- endcapture -%}
      {%- assign slug = context.location.href -%}
      {%- graphql res = "create_page_contributors", slug: slug, paths: page_path -%}
      {%- assign page_contributors = res.customization_create -%}
    {%- endif -%}

    {%- if page_contributors.contributors != blank -%}
      {% assign slugFromHref = context.location.href | remove_first: '/' %}
      {% assign updatedAt = context.exports.nav.pagesUpdatedAt | select: slug: slugFromHref | first | fetch: "updated_at" | date: "%b %d, %Y" %}

      <div class="contributors">
        <div class="row">
          <div class="col-sm-5">
            <span>Last edit: {{ updatedAt }}</span>
          </div>

          <div class="col-sm-7">
            <ul>
              <li>Contributors:</li>
              {%- assign c = page_contributors.contributors | default: "[]" | to_hash | reverse -%}
              {%- for contributor in c -%}
                {%- if contributor.login != blank -%}
                  <li>
                    <a href="https://github.com/{{ contributor.login }}" target="_blank">
                      {% comment %}
                        Github uses round robin to choose CDN. This causes N different SSL handshakes. Breaks browsers cache (SIC).
                      {% endcomment %}
                      {% assign avatar_url = "https://avatars0.githubusercontent.com/u/" | append: contributor.id | append: "?v=4&s=20" %}
                      <img src="{{ avatar_url }}" width="20" height="20" alt="{{ contributor.login }}" lazy>
                    </a>
                  </li>
                {%- endif -%}
              {%- endfor -%}
            </ul>
          </div>
        </div>
      </div>
    {%- endif -%}
  {%- endcache -%}
{%- endif -%}
