<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{%- unless context.headers.SERVER_NAME == "documentation.platformos.com" %}
<meta name="robots" content="noindex,nofollow">
{%- endunless %}

{% comment %} Description {% endcomment %}
{%- assign default_desc = 'platformOS Documentation' -%}
{%- capture content_for_desc -%}{{ page.metadata.description }}{% endcapture -%}
{%- assign description = content_for_desc | default: default_desc -%}

<meta name="description" content='{{ description }}'>

{% comment %} Title {% endcomment %}
{% capture meta_title -%}{{ page.metadata.title | strip_html }}{%- endcapture -%}

{%- if meta_title.size > 0 -%}
  {%- capture title -%}{{ meta_title }} | platformOS Docs{%- endcapture -%}
{%- else -%}
  {%- capture title -%}{{ project_name }}{%- endcapture -%}
{%- endif -%}
<title>{{ title }}</title>

{% graphql page_dates, slug: context.page.slug %}
query get_dates($slug: String!) {
  admin_pages(
    per_page: 1
    filter: { slug: { value: $slug } }
  ) {
    results {
      content_updated_at
      created_at
    }
  }
}
{% endgraphql %}

{% assign dates = page_dates | fetch: 'admin_pages' | fetch: 'results' | first %}

<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content='{{ title }}' />
<meta property="og:description" content='{{ description }}' />
<meta property="og:url" content="{{ context.location.url }}" />
<meta property="og:site_name" content="platformOS Documentation" />
<meta property="article:section" content="Uncategorized" />
<meta property="article:published_time" content="{{ dates.created_at }}" />
<meta property="article:modified_time" content="{{ dates.content_updated_at }}" />
<meta property="og:updated_time" content="{{ dates.content_updated_at }}" />
<meta property="og:image" content="{{ 'images/pos-logo.png' | asset_url }}" />
<meta property="og:image:width" content="730" />
<meta property="og:image:height" content="412" />


<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content='{{ description }}' />
<meta name="twitter:title" content='{{ title }}' />
<meta name="twitter:image" content="{{ 'images/pos-logo-2to1.png' | asset_url }}" />

<script type='application/ld+json'>
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "@id": "https://documentation.platformos.com",
      "url": "https://documentation.platformos.com",
      "name": "platformOS Documentation",
      "inLanguage": "en-US",
      "description": "Examples, tutorials, references, APIs, and best practices—everything you need to build future-proof applications on platformOS"
    },
    {
      "@type": "ImageObject",
      "inLanguage": "en-US",
      "url": "{{ 'images/pos-logo.png' | asset_url }}",
      "width": 730,
      "height": 412,
      "caption": "platformOS Documentation"
    },
    {
      "@type": "WebPage",
      "url": "{{ context.location.url }}",
      "name": "{{ title }}",
      "description": "{{ description }}",
      "isPartOf": {
        "@id": "https://documentation.platformos.com"
      },
      "inLanguage": "en-US",
      "primaryImageOfPage": {
        "@id": "{{ 'images/pos-logo.png' | asset_url }}"
      },
      "datePublished": "{{ dates.created_at }}",
      "dateModified": "{{ dates.content_updated_at }}",
      "potentialAction": [
        {
          "@type": "ReadAction",
          "target": [
            "{{ context.location.url }}"
          ]
        }
      ]
    }
  ]
}
</script>