<!DOCTYPE html>
<html lang="en">
<head>
  {%- include 'layouts/redesign/home-head' -%}
  {%- include 'layouts/context-variables' -%}
  <script src="{{ 'redesign.js' | asset_url }}" defer></script>

  {%- include 'layouts/redesign/category-helpers' -%}
</head>
<body>
	<div class="wrapper">
    {% include 'layouts/redesign/header' %}

		<div class="main main--mt">
      <div class="section-search">
				<div class="container">
					<div class="form-search form-search--alt">
						<form action="/search" method="get">
							<div class="form__controls">
								<input type="text" name="query" class="form-control" placeholder="Search documentation…" />

								<button type="button" class="form-btn">
                  <svg width="24" height="24"><use xlink:href="#search"></use></svg>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>

      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div class="sidebar">
							<div class="sidebar__title">
                {% if context.exports.category.name %}
                  {% capture icon_path %}svg/categories/{{ context.exports.category.slug }}{% endcapture %}
                  {% include icon_path, width: '32px', height: '32px' %}
                  <h4>{{ context.exports.category.name }}</h4>
                {% endif %}
							</div>

              {% include 'layouts/two-columns/nav' %}
						</div>
          </div>

          <div class="col-sm-9">
            <div class="content">
              {% include 'layouts/redesign/breadcrumbs', category: context.exports.category %}
              <div class="row">
                <div class="col{% if context.page.metadata.autotoc == true %}-9{% endif %} content__main">
                  {% if context.page.metadata.title %}
                    <h1>{{ context.page.metadata.title }}</h1>
                  {% endif %}

                  {% if context.page.metadata.contributors == "false" %}
                    {% include 'layouts/two-columns/contributors' %}
                  {% endif %}

                  {{ content_for_layout }}

                  {% comment %} {% unless context.page.metadata.skip_feedback %}
                    {% include 'layouts/redesign/feedback' %}
                  {% endunless %} {% endcomment %}
                </div>

                {% if context.page.metadata.autotoc == true %}
                  <div class="col-3" data-autotoc></div>
                {% endif %}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    {% include 'layouts/redesign/questions' %}
    {% include 'layouts/redesign/footer' %}
	</div>
  {%- include 'svg/icons/sprite' -%}
  {%- include 'layouts/sentry' -%}
</body>
</html>
