---
converter: markdown
metadata:
  title: Creating, Reading, Updating, Deleting customizations using AJAX
  description: This guide will help you create, list, update and delete customizations using javascript.
slug: get-started/customizations/crud-using-ajax
searchable: true
---

This guide will help you create, list, update and delete customizations using javascript and graphql.


## Requirements

* [GraphQL](https://graphql.org/learn/)
* [fetch](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API)


## Steps

Building a Contact Form with Customization is a five-step process:

1. Define prerequisites: Custom Model Type, Form Configuration, Page, javascript functions used in multiple places
2. Implement `Create`
3. Implement `Read`
4. Implement `Update`
5. Implement `Delete`


### Step 1: Define prerequisites: Custom Model Type, Form Configuration, Page, javascript functions used in multiple places

Lets create files that will be used in our implementation.

#### marketplace_builder/custom_model_types/feedback.yml

```yaml
name: Feedback
custom_attributes:
- name: message
  attribute_type: string
- name: rate
  attribute_type: string
```

#### marketplace_builder/form_configurations/feedback.liquid

``` yaml
---
name: feedback_form
resource: Customization
resource_owner: anyone
configuration:
  properties:
    rate:
      validation: { presence: true }
    message:
      validation: { presence: false }
---
{%- raw -%}
{% include 'feedback/create' %}
{% include 'feedback/read' %}
{% include 'feedback/update' %}
{% include 'feedback/delete' %}
{% endraw %}
```

#### marketplace_builder/assets/Feedback.js
```javascript
const request = ({ url, form }) => {
  fetch(url, {
    credentials: "same-origin", // make sure safari understands what we are doing
    method: "POST",
    body: new FormData(form) // create FormData from form passed or empty if undefined
  })
};

[...]
```

### Step 2: Implement `Create`

First create a simple form that will work even without javascript.

#### marketplace_builder/views/partials/feedback/create.liquid

```liquid
{%- raw -%}
{% form html-data-form: "create" %}
  {% assign p = form_builder.fields.properties %}

  <h2>Create new feedback (customization)</h2>
  <label>
    <input type="radio" name='{{ p.rate.name }}' value="Excellent">
    Excellent
  </label>
  <label>
    <input type="radio" name='{{ p.rate.name }}' value="Meh">
    Meh
  </label>
  <label>
    <input type="radio" name='{{ p.rate.name }}' value="Very bad">
    Very bad
  </label>

  <label for="create_message">Message</label>
  <textarea type='text' id="create_message" name='{{ p.message.name }}'></textarea>

  <button>Create</button>
{% endform %}
{% endraw %}
```

Then add javascript to make it work in the background.

#### marketplace_builder/assets/Feedback.js

```javascript
[...]

const Create = event => {
  event.preventDefault();

  request({
    url: event.target.getAttribute("action"),
    form: event.target
  })
};

const createForm = document.querySelector('[data-form="create"]');
createForm.addEventListener("submit", Create);
```

### Step 3: Implement `Read`

First we will need GraphQL query to pull out the data.

#### marketplace_builder/graph_queries/feedback.graphql

```graphql
query feedback($per_page: Int = 10) {
  customizations(
    name: "feedback"
    per_page: $per_page
    sort: { name: "created_at", order: "desc" }
  ) {
    results {
      id
      created_at
      updated_at
      rate: property(name: "rate")
      message: property(name: "message")
    }
  }
}
```

Then we need to create a page that will return JSON with the data.

#### marketplace_builder/views/pages/feedback/feedback_list.liquid

```liquid
---
slug: feedback_list
layout_name: ''
format: json
---
{%- raw -%}
{%- query_graph "feedback", result_name: 'recent', per_page: 10 -%}
{{ recent.customizations.results | json }}
{% endraw %}
```

We need some html that will contain the data and a button that will trigger data download.

#### marketplace_builder/views/partials/feedback/read.liquid

```html
<button type="button" data-button="refreshRead">Refresh content from the server</button>
<table>
  <thead>
    <th>ID</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Rating</th>
    <th>Message</th>
  </thead>
  <tbody data-body="readTable"></tbody>
</table>
```

We also need javascript get the data from the server and render it into the html.

#### marketplace_builder/assets/Feedback.js

```javascript
const updateReadTable = data => {
  const readBody = document.querySelector('[data-body="readTable"]');
  const html = data.map(
    feedback => `<tr>
      <td>${feedback.id}</td>
      <td>${feedback.created_at}</td>
      <td>${feedback.updated_at}</td>
      <td>${feedback.rate}</td>
      <td>${escape(feedback.message)}</td>
    </tr>`
  ).join('');
  readBody.innerHTML = html;
};

const Read = () => {
  fetch("/feedback_list.json")
    .then(response => response.json())
    .then(updateReadTable)
};

const refreshReadButton = document.querySelector('[data-button="refreshRead"]');
refreshReadButton.addEventListener("click", Read);
```

### Step 4: Implement `Update`

Update form is pretty similar to Create, with couple differences:

1. We add hidden input with `_method` set to PUT
2. We need to send ID of customization we want to edit

#### marketplace_builder/views/partials/feedback/update.liquid

```html
{%- raw -%}
{% form html-data-form: "update" %}
  {% comment %} Set method using hidden input to tell the server we are updating {% endcomment %}
  <input type="hidden" name="_method" value="PUT" />

  {% comment %} Let user decide which customization to edit {% endcomment %}
  <label for="customization_id">Customization ID</label>
  <input type="text" name='customization_id' value="" required>

  <label>
    <input type="radio" name='{{ p.rate.name }}' value="Excellent">
    Excellent
  </label>
  <label>
    <input type="radio" name='{{ p.rate.name }}' value="Meh">
    Meh
  </label>
  <label>
    <input type="radio" name='{{ p.rate.name }}' value="Very bad">
    Very bad
  </label>

  <label for="update_message">Message</label>
  <textarea type='text' id="update_message" name='{{ p.message.name }}'></textarea>

  <button>Update</button>
{% endform %}
{% endraw %}
```

Javascript is also very similar, but it takes ID from input defined above and puts it into the URL.

#### marketplace_builder/assets/Feedback.js

```javascript
[...]

const Update = event => {
  event.preventDefault();
  const id = event.target.querySelector('[name="customization_id"]').value;

  request({
    url: `${event.target.getAttribute("action")}/${id}`,
    form: event.target
  })
};

const updateForm = document.querySelector('[data-form="update"]');
updateForm.addEventListener("submit", Update);
```

### Implement `Delete`

Delete operation also needs `method` and `id` because underneath it is just an update.

#### marketplace_builder/views/partials/feedback/delete.liquid

```liquid
{%- raw -%}
{% form html-data-form: "delete" %}
  <input type="hidden" name="_method" value="DELETE" />
  <label for="customization_id">Customization ID</label>
  <input type="text" name='customization_id' value="" required>
  <button>Delete</button>
{% endform %}
{% endraw %}
```

#### marketplace_builder/assets/Feedback.js

```javascript
const Delete = event => {
  event.preventDefault();
  const id = event.target.querySelector('[name="customization_id"]').value;

  request({
    url: `${event.target.getAttribute("action")}/${id}`,
    form: event.target
  })
};

const deleteForm = document.querySelector('[data-form="delete"]');
deleteForm.addEventListener("submit", Delete);
```

## Live example and source code

To play with live example (in much fuller form and with additional information) go to [feedback example](https://pawel-test.oregon.near-me.com/feedback) page.

[Source code](https://github.com/mdyd-dev/marketplace-nearme-example) can be found at GitHub. You can also review [example code commit](https://github.com/mdyd-dev/marketplace-nearme-example/commit/ee636cb8903d11f860abb13b8fc6c4cc352ffabb) for this particular article.
