{%- capture has_sidebar -%}
{%- if context.exports.category.name.size > 0 -%}true{%- endif -%}
{%- endcapture -%}

{% comment %} This cache self-invalidates when deploy/sync changes any view/translation {% endcomment %}
{% parse_json pagesUpdatedAt %}
  {%- cache pagesUpdatedAtCache -%}
    {%- graphql g = 'pages_updated_at' | dig: 'admin_pages', 'results' -%}
    {{- g -}}
  {%- endcache -%}
{% endparse_json %}

{%- export pagesUpdatedAt, namespace: 'nav' -%}

{% if has_sidebar == 'true' %}
  <div class="w-full sm:w-3/12">
    <div class="relative sidebar p-4 sm:p-2 md:p-8">
      <p class="skip-to-content text-lg text-center">
        <a href="#content">Skip to content</a>
      </p>

      <div class="sidebar__title hidden sm:block">
        {% if context.exports.category.name %}
        {% capture icon_path %}svg/{{ context.exports.category.slug }}{% endcapture %}
        {% include icon_path, width: '32px', height: '32px' %}
        <h4>{{ context.exports.category.name }}</h4>
        {% endif %}
      </div>

      {% include 'layouts/nav' %}
    </div>
  </div>
{% endif %}

<div class="{% if has_sidebar == 'true' %}w-full sm:w-9/12 mt-8 sm:mt-0{% else %} w-full{% endif %}">
  <div class="content category__{{ context.params.slug }}">
    {% include 'layouts/content/flash-messages' %}

    {% unless context.page.metadata.breadcrumbs == false %}
      {% include 'layouts/content/breadcrumbs', category: context.exports.category %}
    {% endunless %}

    <div class="flex">
      <div class="w-full{% if context.page.metadata.toc == true %} w-full md:w-8/12{% endif %} content__main sm:pl-12" id="content">
        {% if context.page.metadata.title %}
          <h1>{{ context.page.metadata.title }}</h1>
        {% endif %}

        {% include 'layouts/content/last-edit' %}

        {{ content_for_layout }}

        {% unless context.page.metadata.feedback == false %}
          {% include 'layouts/content/feedback' %}
        {% endunless %}
      </div>

      {% if context.page.metadata.toc == true %}
        <div class="ml-6 w-4/12" data-autotoc></div>
      {% endif %}
    </div>
  </div>
</div>
