{%- if context.location.href != "/" -%}
  {%- graphql g = "get_page_contributors", slug: context.location.href -%}
  {%- assign page_contributors = g.customizations.results.last -%}
  {%- assign key = context.page.slug -%}

  {% comment %}
    For every page we do not want to call Github to fetch contributores
    more often than once a day
  {% endcomment %}

  {%- cache key, expire: 86400 -%}
    {%- if page_contributors.id != blank -%}
      {%- graphql res = "fetch_page_contributors_from_github", id: page_contributors.id -%}
      {%- assign page_contributors = g.customization_update -%}
    {%- else -%}
      {%- capture "page_path" -%}marketplace_builder/views/pages{{ context.location.href }}.liquid{%- endcapture -%}
      {%- assign slug = context.location.href -%}
      {%- graphql res = "create_page_contributors", slug: slug, paths: page_path -%}
      {%- assign page_contributors = g.customization_create -%}
    {%- endif -%}
  {%- endcache -%}

  {%- if page_contributors.contributors != blank -%}
    <div class="contributors">
      <div class="row">
        <div class="col-sm-5">
          <span>Last edit: {{ page_contributors.last_edit | date: "%b %d, %Y" }}</span>
        </div>

      <div class="col-sm-7">
        <ul>
          <li>Contributors:</li>
          {%- assign c = page_contributors.contributors | default: "[]" | to_hash | reverse -%}
          {%- for contributor in c -%}
            {%- if contributor.login != blank -%}
              <li>
                <a href="https://github.com/{{ contributor.login }}" target="_blank">
                  <img src="{{ contributor.avatar_url }}&s=20" width="20" height="20" alt="{{ contributor.login }}">
                </a>
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </div>
    </div>
    </div>
  {%- endif -%}
{%- endif -%}
