{% if context.exports.nav.category_name %}

  {%- capture nav_links_path %}shared/nav/links/{{ context.exports.nav.category_slug }}{% endcapture %}

  <nav class="nav-sidebar">
    {%- include nav_links_path -%}

    {% comment %}
    {%- for link in context.exports.nav.links %}
    <li>
      <a href="{{ link.href }}">{{ link.name }}</a>

      {% if link.children != null %}
      <ul class="submenu">
        {% for submenuLink in link.children %}
        <li>
          <a href="{{ submenuLink.href }}">{{ submenuLink.name }}</a>
        </li>
        {%- endfor %}
      </ul>
      {%- endif %}
    </li>
    {%- endfor %}
    {% endcomment %}
  </nav>
{% endif %}