---
metadata:
  title: Documentation
  description: Welcome to the Platform OS documentation!
  exclude_feedback: true
slug: /
searchable: false
converter: markdown
cache_for: 600
---

<p>Welcome to our docs!</p>

<p>
  We are continuously improving and extending our documentation. Although it's still very much a work in progress, for the sake of transparency in our process, and getting feedback from the community, we are releasing it as we write it.
</p>

<h2>
  How Platform OS Works
</h2>

<div class="container">
  <div class="row">
    <a href="/how-platformos-works" class="content__box">
      <div class="row">
        <div class="col-12 col-md-3">
          <img src="{{ 'images/svg/settings.svg' | asset_url }}" alt="How Platform OS Works" width="40" class="mb-3">
        </div>
        <div class="col-12 col-md-9">
          <h4>How Platform OS Works</h4>
          <p>Get familiar with the key concepts behind Platform OS, learn about how it works, and what it can do for your project.</p>
        </div>
      </div>
    </a>
    <a href="/get-started" class="content__box">
      <div class="row">
        <div class="col-12 col-md-3 align-content-center">
          <img src="{{ 'images/svg/path.svg' | asset_url }}" alt="Get Started" width="40" class="mb-3">
        </div>
        <div class="col-12 col-md-9">
          <h4>Get Started</h4>
          <p>Follow these step-by-step tutorials, and learn to set up, configure, and build your Platform OS site.</p>
        </div>
      </div>
    </a>
    <a href="/how-to" class="content__box">
      <div class="row">
        <div class="col-12 col-md-3 align-content-center">
          <img src="{{ 'images/svg/open-book.svg' | asset_url }}" alt="How-To Guides" width="40" class="mb-3">
        </div>
        <div class="col-12 col-md-9">
          <h4>How-To Guides</h4>
          <p>Delve into more advanced topics with the help of these step-by-step tutorials.</p>
        </div>
      </div>
    </a>
    <a href="/api-reference/rest-api" class="content__box">
      <div class="row">
        <div class="col-12 col-md-3 align-content-center">
          <img src="{{ 'images/svg/api.svg' | asset_url }}" alt="APIs & Form Configurations" width="40" class="mb-3">
        </div>
        <div class="col-12 col-md-9">
          <h4>APIs & Form Configurations</h4>
          <p>Consult our comprehensive documentation for the Platform OS API including Form Configurations, GraphQL API reference, and Liquid filters.</p>
        </div>
      </div>
    </a>
    <a href="/reference" class="content__box">
      <div class="row">
        <div class="col-12 col-md-3 align-content-center">
          <img src="{{ 'images/svg/api.svg' | asset_url }}" alt="Reference" width="40" class="mb-3">
        </div>
        <div class="col-12 col-md-9">
          <h4>Reference</h4>
          <p>See a detailed overview of Platform OS-specific solutions with examples.</p>
        </div>
      </div>
    </a>
    <a href="/use-cases" class="content__box">
      <div class="row">
        <div class="col-12 col-md-3 align-content-center">
          <img src="{{ 'images/svg/people.svg' | asset_url }}" alt="Use Cases" width="40" class="mb-3">
        </div>
        <div class="col-12 col-md-9">
          <h4>Use Cases</h4>
          <p>Explore how to implement real-life use cases.</p>
        </div>
      </div>
    </a>
    <a href="/help" class="content__box col-12 mw-100">
      <div class="row">
        <div class="col-12 col-md-2">
          <img src="{{ 'images/svg/help.svg' | asset_url }}" alt="Need Help?" width="40" class="mb-3">
        </div>
        <div class="col-12 col-md-10">
          <h4>Need Help?</h4>
          <p>Search our docs, join our Slack channel, or get in touch with us. We are always happy to help with any questions you have.</p>
        </div>
      </div>
    </a>
  </div>
</div>
