---
slug: search
metadata:
  title: Search
  exclude_feedback: true
  exclude_contributors: true
---

{% include 'shared/pagination-variables' %}
{% assign page = context.exports.search.page %}
{% assign per_page = context.exports.search.per_page %}
{% query_graph "search", query: context.params.query, per_page: per_page, page: page %}

<h2>
  {{ g.pages.total_entries }} result{% if g.pages.total_entries != 1 %}s{% endif %} for: {{ context.params.query }}
</h2>

<ul class="search-results">
  {% for result in g.pages.results %}
    <li>
      <a href="{{ result.slug }}">{{ result.metadata.title }}</a>
      <p>{{ result.metadata.description }}</p>
    </li>
  {% endfor %}
</ul>

<br>

{% include 'shared/pagination', total_pages: g.pages.total_pages, total_entries: g.pages.total_entries %}
