---
slug: search
metadata:
  title: Search results
  feedback: false
  contributors: false
---

{% include 'shared/pagination-variables' %}
{% assign page = context.exports.search.page %}
{% assign per_page = context.exports.search.per_page %}
{% graphql g = "search", query: context.params.query, per_page: per_page, page: page %}

<p>
  {{ g.pages.total_entries }} result{% if g.pages.total_entries != 1 %}s{% endif %} for <strong>{{ context.params.query }}</strong>
</p>

<ul class="list-unstyled">
  {% for result in g.pages.results %}
    <li>
      <a href="{{ result.slug }}">{{ result.metadata.title }}</a>
      <p>{{ result.metadata.description }}</p>
    </li>
  {% endfor %}
</ul>

{% include 'shared/pagination', total_pages: g.pages.total_pages, total_entries: g.pages.total_entries %}
