---
name: feedback_form
resource: Customization
resource_owner: anyone
configuration:
  properties:
    path:
      validation: { presence: true }
    rate:
      validation:
        presence: true
        inclusion:
          in:
            - 1
            - 3
            - 5
    email:
    message:
email_notifications:
  - new_feedback
flash_notice: Thank you for your feedback.
---
{% form html-data-feedback: 'form', html-class: 'feedback-form' %}
  <input type="hidden" name="redirect_to" value="{{ context.location.pathname }}">

  {% assign p = form_builder.fields.properties %}

  {% include 'forms/shared/errors-notification' %}

  <input name="{{ p.path.name }}" type='hidden' value='{{ context.location.pathname }}'>

  <div class="col-12 feedback-main">
    <div class="row">
      <div class="col-12 pb-3">
        <h4>Was this documentation helpful?</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <ul class="list-unstyled d-flex justify-content-around">
          <li>
            <label>
              <input type="radio" name='{{ p.rate.name }}' value="5" data-feedback-selected-value="5" hidden>
              {% include "shared/svg/smile" %}
            </label>
          </li>
          <li>
            <label>
              <input type="radio" name='{{ p.rate.name }}' value="3" data-feedback-selected-value="3" hidden>
              {% include "shared/svg/weird" %}
            </label>
          </li>
          <li>
            <label>
              <input type="radio" name='{{ p.rate.name }}' value="1" data-feedback-selected-value="1" hidden>
              {% include "shared/svg/sad" %}
            </label>
          </li>
        </ul>
      </div>
      <div class="col-5">
        {% assign github_path = "https://github.com/mdyd-dev/nearme-documentation/blob/master/" %}
        {% assign pages_path = github_path | append: "marketplace_builder/views/pages/" %}
        <a target="_blank" href="{{ pages_path }}{{ page.slug }}.liquid">
          {% include "shared/svg/github" %}
          Contribute to this page
        </a>
      </div>
    </div>
  </div>
  <div data-feedback="questions" class="hidden">
    <div class="col-12 pt-4">
      <label class="hidden" data-feedback-value="5">
        We’re glad you liked our documentation page!<br />
        Why did you like it? How could we make it even better?
      </label>
      <label class="hidden" data-feedback-value="3">
        We are continuously working on our docs to make them better.<br />
        How do you think we could improve this page?
      </label>
      <label class='hidden' data-feedback-value="1">
        We’re sorry you didn’t like our documentation page.<br />
        What was the problem? How do you think we could fix it?
      </label>
      <textarea type='text' id="message" name='{{ p.message.name }}'></textarea>
    </div>
    <div class="col-12">
      <div class="row pb-5">
        <div class="col-9">
          <label for="email">Would you like to get an answer from us?</label>
          <input type='text' id="email" name='{{ p.email.name }}' placeholder='E-mail'>
        </div>

        <div class="col-3">
          <input class="btn btn-primary float-right" type="submit" value="Send">
        </div>
      </div>
    </div>
  </div>
{% endform %}
