---
converter: markdown
metadata:
  title: Building a Transactable Creation Form
  description: This guide will help you build a form for creating a Transactable.
slug: get-started/transactables/building-transactable-creation-form
searchable: true
---

This guide will help you build a form for creating a Transactable.

_This guide is part of a series that follows a scenario to demonstrate how to manage Transactables. You can find previous and next parts of the series in the Requirements and Next steps sections._

## Requirements
So that you can follow the steps in this tutorial, you should understand the concept of Transactables. This guide refers to the scenario and Transactable Type discussed in a previous tutorial:

* [Transactables](/get-started/transactables/creating-transactables)
* [Creating a Transactable Type](/get-started/transactables/creating-transactable-type) (previous tutorial)

## Steps

Building a Transactable creation form is a two-step process:

1. Create form
2. Embed form into a page

### Step 1: Create form

Create a form for Transactable creation:

{% raw %}

<pre><code class="language-liquid">
---
name: project
resource: Transactable
configuration:
  name:
    validation: { presence: true }
  description:
    validation:
      presence: true
  properties:
    deadline:
      validation:
        presence: true
    workplace_onsite:
    workplace_online:
    budget:
      validation:
        presence: true
---
{% form %}
  &lt;div&gt;
    &lt;label for="name"&gt;&lt;abbr title="required"&gt;*&lt;/abbr&gt; Name&lt;/label&gt;
    &lt;div&gt;
      &lt;input name="{{ form_builder.fields.name.name }}" value="{{ form_builder.fields.name.value }}" id="name" type="text"&gt;
      {% if form_builder.errors.name %}
        &lt;p&gt;{{ form_builder.errors.name }}&lt;/p&gt;
      {% endif %}
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div&gt;
    &lt;label for="description"&gt;&lt;abbr title="required"&gt;*&lt;/abbr&gt; Description&lt;/label&gt;
    &lt;div&gt;
      &lt;textarea name="{{ form_builder.fields.description.name }}" id="description"&gt;{{ form_builder.fields.description.value }}&lt;/textarea&gt;
      {% if form_builder.errors.description %}
        &lt;p&gt;{{ form_builder.errors.description }}&lt;/p&gt;
      {% endif %}
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div&gt;
    &lt;label for="workplace_online"&gt;Workplace online&lt;/label&gt;
    &lt;div&gt;
      &lt;input value="0" name="{{ form_builder.fields.properties.workplace_online.name }}" type="hidden"&gt;
      &lt;input value="1" name="{{ form_builder.fields.properties.workplace_online.name }}" id="workplace_online" type="checkbox" {% if form_builder.fields.properties.workplace_online.value %}checked{% endif %}&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div&gt;
    &lt;label for="workplace_onsite"&gt;Workplace onsite&lt;/label&gt;
    &lt;div&gt;
      &lt;input value="0" name="{{ form_builder.fields.properties.workplace_onsite.name }}" type="hidden"&gt;
      &lt;input value="1" name="{{ form_builder.fields.properties.workplace_onsite.name }}" id="workplace_onsite" type="checkbox" {% if form_builder.fields.properties.workplace_onsite.value %}checked{% endif %}&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div&gt;
    &lt;label for="budget"&gt;&lt;abbr title="required"&gt;*&lt;/abbr&gt; Budget&lt;/label&gt;
    &lt;div&gt;
      &lt;input name="{{ form_builder.fields.properties.budget.name }}" value="{{ form_builder.fields.properties.budget.value }}" id="budget" type="text"&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div&gt;
    &lt;label for="deadline"&gt;&lt;abbr title="required"&gt;*&lt;/abbr&gt; Deadline&lt;/label&gt;
    &lt;div&gt;
      &lt;input placeholder="YYYY-mm-dd" name="{{ form_builder.fields.properties.deadline.name }}" value="{{ form_builder.fields.properties.deadline.value }}" id="deadline" type="text"&gt;
      {% if form_builder.errors['properties.deadline'] %}
        &lt;p&gt;{{ form_builder.errors['properties.deadline'] }}&lt;/p&gt;
      {% endif %}
    &lt;/div&gt;
  &lt;/div&gt;

  {% submit 'Save' %}
{% endform %}
</code></pre>

{% endraw %}

### Step 2: Embed form into a page

The page with the embedded form could look like this:

{% raw %}

<pre><code class="language-liquid">
---
slug: client/projects/new
layout_name: application
---
<h1>Create Project</h1>
{% render_form 'project', parent_resource_id: 'project' %}
</code></pre>

{% endraw %}

## Next steps
Congratulations! You have built a form for creating a Transactable. Now you can display the newly created Transactable:

* [Displaying a Transactable](/get-started/transactables/displaying-transactable)

{% include 'shared/questions_section' %}


