{% for item in data %}
  {% assign name = item.name %}
  {% assign type = item.type %}
  {% assign description = item.description %}
  {% assign arguments = item.arguments %}

  <h2>{{ item.name }}</h2>

  {% if type %}
    <p>
      Type: <a href="./objects#{{ type.name | downcase }}">{{ type.name }}</a>
    </p>
  {% endif %}

  <h4>Arguments</h4>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for a in arguments %}
        <tr>
          <td>{{ a.name }}</td>
          <td>{% if a.type %}{{ a.type.name }}{% endif %}</td>
          <td class="text-capitalize">
            {% if a.description %}{{ a.description }}{% endif %}
            {% if a.default_value %}Default: <code>{{ a.default_value }}</code>{% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}