---
layout: ''
slug: __performance-dashboard
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ 'vendor/skeleton.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'vendor/chart.min.css' | asset_url }}">
</head>
<body>
  {% graphql instantpage = 'get-performance-report', instantpage: true %}
  {% graphql clean = 'get-performance-report', instantpage: false %}

  {% assign instantpageResult = instantpage | fetch: "models" | fetch: "results" %}
  {% assign cleanResult = clean | fetch: "models" | fetch: "results" %}

  <script>
    window.datasets = [{
      label: 'Quicklinks',
      borderColor: 'rgb(255, 99, 132)',
      data: {{ instantpageResult | json }}
    },{
      label: 'Clean',
      borderColor: 'rgb(40, 99, 132)',
      data: {{ cleanResult | json }}
    }];
  </script>

  <div class="container">
    <h1>Performance dashboard</h1>

    <div class="row">
      <div class="twelve column">
        <canvas id="comparison"></canvas>
      </div>
    </div>
  </div>

  <script src="{{ 'vendor/chart.min.js' | asset_url }}"></script>
  <script src="{{ 'vendor/chart-datefns.js' | asset_url }}"></script>
  <script src="{{ 'experiment/performance-dashboard.js' | asset_url }}"></script>
</body>
</html>

