---
name: new_feedback
to: documentation@platform-os.com
from: 'platformOS <noreply@platform-os.com>'
reply_to: '{{ form.model.customization.properties.email }}'
subject: Documentation - New Feedback
trigger_condition: true
---
{% assign properties = form.properties %}

<h2>Hello Team!</h2>

<p>New feedback from Documentation site</p>
<table>
  <tr>
    <td>Rate: </td>
    <td><b>
      {%- if properties.rate == 5 -%}Positive{%- endif -%}
      {%- if properties.rate == 3 -%}Neutral{%- endif -%}
      {%- if properties.rate == 1 -%}Negative{%- endif -%}
    </b></td>
  </tr>

  {% if properties.email %}
  <tr>
    <td>Email: </td>
    <td><b>{{ properties.email }}</b></td>
  </tr>
  {% endif %}

  {% if properties.message %}
  <tr>
    <td>Message: </td>
    <td><b>{{ properties.message }}</b></td>
  </tr>
  {% endif %}

  <tr>
    <td>Feedback to:</td>
    {% assign url = "https://" | append: context.location.host | append: properties.path %}
    <td><b><a href="{{ url }}">{{ url }}</a></b></td>
  </tr>
</table>
