<section class="text-center py-8 bg-white border border-top-slate-300">
  <h2 class="text-center text-2xl mb-8 inline-block">Awards</h2>

  <ul class="flex flex-wrap lg:flex-nowrap justify-around md:justify-center items-center w-full list-none md:space-x-4">
    <li class="rounded-lg inline-block border border-slate-300 hover:border-slate-500">
      <a class="block px-6 py-6" href="/community/awards/dra_best_ongoing_developer_experience">
        <img src="{{ 'images/awards/2022/DevRel_Awards_2022-Winner_badge.png' | asset_url }}" alt="DevRel Award 2022"
          class="max-h-24 mb-0" loading="lazy" />
      </a>
    </li>

    <li class="rounded-lg inline-block border border-slate-300 hover:border-slate-500">
      <a class="block px-6 py-6" href="/community/awards/dpa_best_onboarding">
        <img src="{{ 'images/awards/2021/Best Onboarding Award.svg' | asset_url }}" alt="Best Onboarding Award"
          class="max-h-24 mb-0" loading="lazy" />
      </a>
    </li>
    <li class="rounded-lg inline-block border border-slate-300 hover:border-slate-500">
      <a class="block px-6 py-6" href="/community/awards/dpa_best_editorial_experience">
        <img src="{{ 'images/awards/2021/Best Editorial Experience.png' | asset_url }}" alt="Best Editorial Experience"
          class="max-h-24 mb-0" loading="lazy" />
      </a>
    </li>
    <li class="rounded-lg inline-block border border-slate-300 hover:border-slate-500">
      <a class="block px-6 py-6" href="/community/awards/dpa_best_restapi_alternative">
        <img src="{{ 'images/awards/2021/Best Developer Portal for alternatives to REST-APIs.png' | asset_url }}"
          alt="Best Developer Portal for alternatives to REST-APIs" class="max-h-24 mb-0" loading="lazy" />
      </a>
    </li>
    <li class="rounded-lg inline-block border border-slate-300 hover:border-slate-500">
      <a class="block px-6 py-6" href="/community/awards/uktc_awards">
        <img src="{{ 'images/awards/2021/ISTC.png' | asset_url }}" alt="ISTC logo" class="max-h-24 mb-0" loading="lazy" />
      </a>
    </li>
  </ul>

</section>