<li class="{% if cp contains '/liquid' %}active{% endif %}">
  <a href="/api-reference/liquid/introduction">Liquid Markup</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/api-reference/liquid/introduction", text: "Introduction" %}
    {% include "shared/nav/link", href: "/api-reference/liquid/types", text: "Types" %}
    {% include "shared/nav/link", href: "/api-reference/liquid/platformos-tags", text: "Tags: platformOS" %}
    {% include "shared/nav/link", href: "/api-reference/liquid/variables", text: "Tags: Variables" %}
    {% include "shared/nav/link", href: "/api-reference/liquid/flow-control", text: "Tags: Flow Control" %}
    {% include "shared/nav/link", href: "/api-reference/liquid/loops", text: "Tags: Loops" %}
    {% include "shared/nav/link", href: "/api-reference/liquid/include", text: "Tags: Include" %}
    {% include "shared/nav/link", href: "/api-reference/liquid/theme", text: "Tags: Theme" %}
    {% include "shared/nav/link", href: "/api-reference/liquid/objects", text: "Objects" %}
    {% include "shared/nav/link", href: "/api-reference/liquid/platformos-objects", text: "Objects: platformOS" %}
    {% include "shared/nav/link", href: "/api-reference/liquid/filters", text: "Filters" %}
    {% include "shared/nav/link", href: "/api-reference/liquid/platformos-filters", text: "Filters: platformOS" %}
    {% include "shared/nav/link", href: "/api-reference/liquid/whitespace-control", text: "Whitespace Control" %}
    {% include "shared/nav/link", href: "/api-reference/liquid/sanitization", text: "Sanitization" %}

  </ul>
</li>

<li class="{% if cp contains '/graphql' %}active{% endif %}">
  <a href="/api-reference/graphql/glossary">GraphQL API</a>

  <ul class="submenu">
    {% include "shared/nav/link", href: "/api-reference/graphql/glossary", text: "Glossary" %}
  </ul>
</li>

{% if cp contains '/graphql' %}
  {% parse_json graphql_navigation %}
    {% render 'shared/nav/graphql-navigation' %}
  {% endparse_json %}

  {% for el3 in graphql_navigation.modules.graphql.public.views.pages['api-reference']['graphql'] %}
    <li class="graphql-navigation">
      <button class="leading-tight cursor-pointer">
        <span class="inline-block w-4 text-lg pointer-events-none">+</span> {{ el3[0] | humanize }}
      </button>
      <ul class="submenu">
        {%- assign categories = el3[1] | hash_sort -%}
        {% for el4 in categories %}
          <li>
            <button class="leading-tight cursor-pointer">
              <span class="inline-block w-4 text-lg pointer-events-none">+</span> {{ el4[0] }}
            </button>
            <ul class="submenu">
              {%- for el5 in el4[1] %}
                <li>
                  <a href="/api-reference/graphql/{{el3[0]}}/{{el4[0]}}/{{ el5[0] | titleize | slugify  }}">{{ el5[0] }}</a>
                </li>
              {%- endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
{% endif %}
