{% assign paramFlash = context.params.flash %}
{% assign ctxFlash = context.flash %}

{% parse_json _flash %}
{
  "notice": "{{ ctxFlash.notice | default: paramFlash.notice | default: '' }}",
  "alert": "{{ ctxFlash.alert | default: paramFlash.alert | default: '' }}",
  "error": "{{ ctxFlash.error | default: paramFlash.error | default: '' }}"
}
{% endparse_json %}

{%- for key in _flash -%}
  {%- if key[1] != blank -%}
    <div class="container flash-messages">
      <div class="alert alert-{{ key[0] }} col" role="alert">
        {{ key[1] }}
      </div>
    </div>
  {%- endif -%}
{%- endfor -%}
