---
metadata:
  title: Building the user interface
  description: Follow these step-by-step tutorials to build a simple To do application on platformOS.
converter: markdown
---


The very basic building block of any web application is it’s HTML structure. platformOS uses Liquid as a language for creating HTML templates.

In this context, you can think of _Liquid_ as an addition to your HTML that will allow you to split code into smaller fragments, render some repeating parts without actually repeating the code or showing the data pulled from the database on the page.

Liquid is parsed and executed **server-side**. All of the operations using Liquid are computed first on the server, and then the result of those operations is send to user browser.



## Build the main application layout

The main page’s HTML structure on platformOS is kept in `app/views/layouts/application.html.liquid`. Notice the file extension is `.liquid` – this is going to be a pattern for most of the files related to page’s structure. Specifically, the file named `application.html.liquid` is automatically used as a default structure for all pages in your application.

Let’s start with a very simple HTML structure:

#### app/views/layouts/application.html.liquid

{% raw %}
```liquid
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>To do list</title>
	</head>
	<body>
		<h1>My to do list</h1>

		{{ content_for_layout }}
	</body>
</html>
```
{% endraw %}

You may notice a special {% raw %}`{{ content_for_layout }}`{% endraw %} tag. This little thing here is Liquid.

There will be many other tags and uses of Liquid in the future. This particular one is later automatically replaced by the actual page content that we will define in other `.liquid` files. So the content of other pages will be injected in place for {% raw %}`{{ content_for_layout }}`{% endraw %}. This makes the layout file a universal page structure for all of our content.

{% include 'alert/tip', content: 'Remember that you need to [synchronise](/get-started/working-with-the-code-and-files/#upload-code-changes-automatically-when-you-save-the-file) or deploy your changes to the instance to see the results.' %}

We can see this in action by creating another file – this one with the content that will be shown on the index page of our application.

All of the pages (or _subpages_) of our web application needs to be placed in a separate folder: `app/views/pages/`. Start by creating the index file with a simple text:

#### app/views/pages/index.liquid

```html
<h2>Hello world!</h2>
```

Now, when you go to your instance URL, you should see the application title that we defined in `application.html.liquid` as well as the content of `index.liquid`. Check out the source, it’s all there!


## Add new page to your application

Let’s say you would like to add an About me page to your application, that will show some personal information. We would like this page to be available under `/about` URL.

On platformOS this is a super straight-forward operation. When you add a new file called `about.liquid` and save it in `app/view/pages/` folder, it will automatically be visible under /about URL on your instance. Basically – the file name becomes the URL.

Ok, so let us actually do this. As described above – create a new file called `about.liquid` in `app/view/pages/` directory:

#### app/views/pages/contact.liquid

```html
<h2>About me</h2>
<p>
	Hello! My name is [your name] and this is my first app built on platformOS
</p>
```

Now, when you go to `<your instance url>/about`, you should see the newly created page.

Later on, you might find a need to create more complex URLs that are not entirely based on the file names, but on some query parameters for example. This is all totally possible and it’s described in the Routing section of this documentation.


## A To Do App: Necessary Interface Elements

<img loading="lazy" src="{{ 'images/get-started/todo/ui.jpg' | asset_url }}" alt="The layout we are implementing for our To do app">

Back to our _To Do_ application – on the index page we would need: a list of items (with a button to mark an item as done), an information shown when there are no items, a simple form for adding a new item to the list and – finally – the link to the _About me_ page:

#### app/views/pages/index.liquid

```html
<!-- list of items -->
<ul>
	<li>
		First item
		<form action="" method="post">
			<button type="submit">Mark as done</button>
		</form>
	</li>
	<li>
		Second item
		<form action="" method="post">
			<button type="submit">Mark as done</button>
		</form>
	</li>
</ul>

<!-- information shown when the list is empty -->
<div>There are no items in the list.</div>

<!-- form for adding new item -->
<form action="" method="post">
	<input type="text" name="title">
	<button type="submit">Add item</button>
</form>

<!-- link to the About Me page -->
<a href="/about">About Me</a>
```

Currently we are just using an example content and don’t have any logic here, that’s OK – we will add those in later steps of this tutorial.


## Adding visual styling with CSS

What we would need here is a CSS file. Since the [publicly visible static files](/get-started/working-with-the-code-and-files/#basic-overview-of-the-directory-structure) are placed in `/app/assets/` directory, we will save our CSS file as `/app/assets/styles/app.css`.

We don’t need to get into details here, you can just copy this example CSS to make our app look a little nicer:

#### /app/assets/styles/app.css

```css
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    font-family: sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

li {
    width: 300px;
    padding: .8em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    background-color: #f5f6fc;
}
```

We still need to **link the CSS file on our page**. The proper place for this would be the `/app/views/layouts/application.html.liquid` file of course:

#### app/view/layout/application.html.liquid

{% raw %}
```liquid
<head>
	[...]
	<link rel="stylesheet" href="{{ 'styles/app.css' | asset_url }}">
</head>
```
{% endraw %}

This is our chance to take a look at another Liquid feature – **filters**. Their function is to modify whatever content we provide to them. To use filters, we need to append the filter name after the pipe character (`|`). As you can see in the example above, we are using a filter called `asset_url`. It will take the string that we provide (in our case the relative path to our CSS file in the `/assets` folder) and modify it to automatically build the URL to our CSS file.

The `asset_url` filter is super useful when working with static files. On one hand, it automatically builds the absolute URL to the file on platformOS CDN, on the other – it appends a query string generated each time the file changes. This is to make sure that your audience always gets the latest version of the file, not some cached one.

#### Input:

{% raw %}
```liquid
{{ 'styles/app.css' | asset_url }}
```
{% endraw %}

#### Example output:

```html
https://uploads.staging.oregon.platform-os.com/instances/8675/assets/styles/app.css?updated=1667146184
```



{% render 'alert/next', content: 'Saving data to the database', url: '/get-started/build-your-first-app/saving-data-to-the-database/' %}
