{% if total_entries > per_page %}
  {% assign per_page_default = per_page_default | default: 10 %}
  {% if context.params.query %}
    {% assign query_param = "query=" | append: context.params.query | append: '&' %}
  {% endif %}
  {% if per_page != per_page_default %}
    {% assign per_page_param = "&per_page=" | append: per_page %}
  {% endif %}

  <div class="pagination">
    <ul>
      {% if page > 1 %}
        <li>
          <a href="{{ context.location.pathname }}?{{ query_param }}page={{ page | minus: 1 }}{{ per_page_param }}">Previous</a>
        </li>
      {% endif %}

      {% for i in (1..total_pages) %}
        {% if i == page %}
          <li class="active">
            <a>{{ i }}</a>
          </li>
        {% else %}
          <li>
            <a href="{{ context.location.pathname }}?{{ query_param }}page={{ i }}{{ per_page_param }}">{{ i }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if total_pages > page %}
        <li>
          <a href="{{ context.location.pathname }}?{{ query_param }}page={{ page | plus: 1 }}{{ per_page_param }}">Next</a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}
