---
name: new_contact_request
to: support@platform-os.com
from: noreply@near-me.com
subject: Documentation - Contact Message
trigger_condition: true
---

<h2>Hello Team!</h2>

<p>New request from Documentation site</p>
<table>
  <tr>
    <td>Name: </td>
    <td><b>{{ form.model.customization.properties.name }}</b></td>
  </tr>
  <tr>
    <td>Email: </td>
    <td><b>{{ form.model.customization.properties.email }}</b></td>
  </tr>
  <tr>
    <td>Company: </td>
    <td><b>{{ form.model.customization.properties.company }}</b></td>
  </tr>
  <tr>
    <td>Topic: </td>
    <td><b>{{ form.model.customization.properties.topic }}</b></td>
  </tr>
  <tr>
    <td>Message: </td>
    <td><b>{{ form.model.customization.properties.message }}</b></td>
  </tr>
</table>
